
<div class="row">

    <div class="col-sm-6">
        Seebiergärkisten
    </div>

</div>

<div class="row">

    <div class="col-sm-6" ng-controller="startController">
            <div overview-elements></div>
    </div>

</div>


<!--
<div class="row">

    <div class="col-sm-4">

        <form class="form-horizontal well" ng-show="surveylength()" ng-controller="selectFormController">
            <div form-elements></div>
        </form>
    </div>

    <div class="col-sm-8" ng-controller="orderController" ng-show="order.length > 0">
        <div order-elements></div>
        <p class="text-right" >
            <a id="indexbutton" href="#/index" class="btn btn-primary" translate="P_IDX_T_7"></a>
        </p>
        <p class="text-right" >
            <a id="checkoutbutton" href="#/checkout" class="btn btn-danger" translate="P_IDX_T_6"></a>
        </p>
    </div>
</div>-->
